body{
    background-color: #A9C9FF;
    background-image: linear-gradient(0deg, #A9C9FF 0%, #ffffff 50%, #ffffff 100%);
    

}
.nav{
  
    display: inline-flex;
    margin-bottom: 10px;
   

}
.container{
    text-align: center;

}
.nav-item{

    color: white;
    
}